version: '3.9'


services:
  web:
    image: httpd:latest
    container_name: my-apache-app
    ports:
    - '80:80'
    volumes:
    - ./website:/usr/local/apache2/htdocs
    networks:
    - minha-rede

networks:
  minha-rede:
    driver: bridge
